<a href="/story/create" class="btn btn-primary">Create New Story</a>
<%= session[:account_id] %>
<% if @stories.length > 0 %>
	<ul>
	<% @stories.each do |story| %>
		<li>story.title</li>
	<% end %>
	</ul>
<% end %>