<!doctype html>
<html lang="en">
	<head>
		<title>stuff and things</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css" />
	</head>
	<body>
		<div id="page">
			<header>

			</header>
			<nav>

			</nav>
			<section id="content">
				<%= yield %>
			</section>
			<footer>

			</footer>
		</div>
	</body>
</html>