<!doctype html>
<html lang="en">
	<head>
		<title>stuff and things</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css" />
	</head>
	<body>
		<div id="page">
			<header>
				<h1>Snowflake</h1>
				<p class="desc">Writing Project Planner</p>
			</header>
			<nav>
				<ul>
					<li>Home</li>
					<li>Link</li>
					<li>Link</li>
				</ul>
			</nav>
			<section id="content">
				<%= yield %>
			</section>
			<footer>
				footer stuff goes here
			</footer>
		</div>
	</body>
</html>